.sidebar {
    height: 100vh;
    width: 20vw;
    background-color: #3B1021;
}

.sidebar_list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    color: #eee;
    overflow-y: scroll;
}

.sidebar_list_item {
    width: fit-content;
    list-style: none;
    font-size: 20px;
    padding: 10px;
}

.sidebar_list_item:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
    font-weight: 700;
}

.sidebar_nav_buttons {
    display: flex;
    margin: 20px 2px;
}

.prev, .next {
    font-size: 24px;
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.prev:hover, .next:hover {
    cursor: pointer;
    background: #000;
    color: #eee;
    border: 2px #eee solid;
} 